<div class="dashboard">
  <div class="wrap">
    <section class="dashboard-assets-card">
      <p class="dashboard-assets-card__label">総資産</p>
      <p class="dashboard-assets-card__amount">
        ¥<%= number_with_delimiter(@total_assets) %>
      </p>
    </section>

    <section class="dashboard-monthly-summary">
      <h2 class="dashboard-monthly-summary__title">
        <%= Date.current.strftime("%Y年%-m月") %>の収支
      </h2>

      <table class="dashboard-monthly-summary__table">
        <tbody>
          <tr>
            <th>当月収入</th>
            <td>¥<%= number_with_delimiter(@monthly_income) %></td>
          </tr>
          <tr>
            <th>当月支出</th>
            <td>¥<%= number_with_delimiter(@monthly_expense) %></td>
          </tr>
          <tr>
            <th>当月収支</th>
            <td>¥<%= number_with_delimiter(@monthly_balance) %></td>
          </tr>
        </tbody>
      </table>

        <%= link_to "収支一覧を見る", transactions_path %>

    </section>

    <section class="dashboard-recent-transactions">
  <h2>最近の取引</h2>

  <table>
    <tbody>
      <% @recent_transactions.each do |transaction| %>
        <tr>
          <td>
            <%= transaction.transacted_at.strftime("%Y/%m/%d") %>
          </td>
          <td>
            <%= transaction.sub_category.category.name %>
            ＞
            <%= transaction.sub_category.name %>
          </td>
          <td>
            <%= transaction.memo.presence || "-" %>
          </td>
          <td>
            <%= transaction.income? ? "+" : "-" %>
            <%= number_with_delimiter(transaction.amount) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "収支一覧を見る", transactions_path %>
</section>

<section class="dashboard-category-chart">
  <h2>カテゴリー別支出</h2>

  <%= pie_chart @expense_by_category %>
</section>
  </div>
</div>
