<div class="asset-edit">
  <div class="wrap">
  <h2 class="asset-edit__title">資産初期値設定</h2>

  <%= form_with model: @asset, url: asset_path, method: :patch, class: "asset-edit__form" do |f| %>
    <% if @asset.errors.any? %>
      <div class="form-errors">
        <ul>
          <% @asset.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :initial_amount, "現在の総資産額" %>
      <%= f.number_field :initial_amount,
                         class: "form-control",
                         min: 0,
                         step: 1 %>
    </div>

    <div class="form-actions">
      <%= f.submit "保存", class: "btn-primary" %>
    </div>
  <% end %>
</div>
</div>
