<div class="table-common-wrap">
  <div class="wrap">
<h2>ユーザー一覧</h2>
<table class="admin-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>権限</th>
      <th>登録日</th>
      <th>詳細</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin? ? "管理者" : "一般" %></td>
        <td><%= l(user.created_at, format: :short) %></td>
        <td>
          <%= link_to "詳細", admin_user_path(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>
