<%= form_with model: transaction, class: 'transaction-form' do |f| %>

  <% if transaction.errors.any? %>
    <div class="error-messages">
      <ul>
        <% transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :transaction_type, '種別' %>

    <%= f.select :transaction_type,
                 Transaction.transaction_types.keys.map { |key|
                   [key == 'expense' ? '支出' : '収入', key]
                 },
                 {},
                 class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :transacted_at, '日付' %>

    <%= f.date_field :transacted_at,
                     class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :amount, '金額' %>

    <%= f.number_field :amount,
                       class: 'form-control',
                       min: 1,
                       max: 999999 %>
  </div>

  <div class="form-group">
    <%= f.label :sub_category_id, 'カテゴリー' %>

    <%= f.collection_select :sub_category_id,
                            current_user.sub_categories.order(:id),
                            :id,
                            :name,
                            { prompt: '選択してください' },
                            class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :memo, 'メモ' %>

    <%= f.text_area :memo,
                    class: 'form-control',
                    rows: 4 %>
  </div>

  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end %>
