  <div class="transactions-calendar__header">
    <%= link_to "◀",
      transactions_path(month: date.prev_month.strftime("%Y-%m")) %>

    <h1>
      <%= date.beginning_of_month.strftime("%Y/%-m/%-d") %>
      -
      <%= date.end_of_month.strftime("%Y/%-m/%-d") %>
    </h1>

    <%= link_to "▶",
      transactions_path(month: date.next_month.strftime("%Y-%m")) %>

    <%= link_to "今月", transactions_path %>
  </div>
