<div class="transactions">
  <div class="wrap">
    <div class="transactions-calendar">

  <%= render 'month_navigation', date: @date %>

  <table class="transactions-calendar__table">
    <thead>
      <tr>
        <th>日</th>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th>土</th>
      </tr>
    </thead>

    <tbody>
      <% calendar_dates(@date).each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <td class="transactions-calendar__cell <%= 'is-other-month' if day.month != @date.month %>">

  <div class="transactions-calendar__day">
    <%= day.day %>
  </div>

  <% day_transactions = @transactions_by_date[day] || [] %>

  <% income_total = daily_income_total(day_transactions) %>
  <% expense_total = daily_expense_total(day_transactions) %>

  <% if income_total.positive? %>
    <div class="transactions-calendar__income">
      +<%= number_with_delimiter(income_total) %>
    </div>
  <% end %>

  <% if expense_total.positive? %>
    <div class="transactions-calendar__expense">
      -<%= number_with_delimiter(expense_total) %>
    </div>
  <% end %>

  <div class="transactions-calendar__action">
  <%= link_to new_transaction_path(date: day), class: "transactions-calendar__add" do %>
    ✏️
  <% end %>
</div>

<% if day_transactions.any? %>
  <div class="transactions-calendar__popover">

    <% day_transactions.first(5).each do |transaction| %>
      <div class="transactions-calendar__popover-item">

        <span>
          <%= transaction.memo.presence || transaction.sub_category.name %>
        </span>

        <span>
          <%= number_with_delimiter(transaction.amount) %>円
        </span>

      </div>
    <% end %>

    <% if day_transactions.size > 5 %>
      <div class="transactions-calendar__popover-more">
        他<%= day_transactions.size - 5 %>件
      </div>
    <% end %>

  </div>
<% end %>

</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

  <%= render 'month_navigation', date: @date %>

<table class="table-common">
  <thead>
    <tr>
      <th>日付</th>
      <th>種別</th>
      <th>カテゴリー</th>
      <th>金額</th>
      <th>メモ</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @monthly_transactions.each do |transaction| %>
      <tr>
        <td><%= l(transaction.transacted_at) %></td>

        <td>
          <%= transaction.income? ? "収入" : "支出" %>
        </td>

        <td>
          <%= transaction.sub_category.category.name %>
          /
          <%= transaction.sub_category.name %>
        </td>

        <td>
          ¥<%= number_with_delimiter(transaction.amount) %>
        </td>

        <td>
          <%= transaction.memo.presence || "-" %>
        </td>

        <td>
          <%= link_to "編集", edit_transaction_path(transaction) %>

          <%= link_to "コピー", copy_transaction_path(transaction) %>

          <%= link_to "削除",
              transaction_path(transaction),
              data: {
                turbo_method: :delete,
                turbo_confirm: "削除しますか？"
              } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>
